@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Lato", serif;
    background-color: #0a092b;
}

/* Header */

header{
    background-color: #190a34;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

nav{
    background-color: #190a34;
    border-radius: 25px;
    display: flex;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding-right: 40px;
}

.itemsSection{
    padding-right: 220px;
    margin: 25px;
}

.itemsSection a{
    text-decoration: none;
}

.itemsSection .item{
    background-color: #190a34;
    color: white;
    border-radius: 15px;
    text-align: center;
}

.itemsSection .item h3{
    font-size: 15px;
}

.itemsSection .item img{
    width: 50%;
}

/* Mobile Legend Bang Bang's Diamonds */

input[type="text"] {
    background-color: #2e1e5f;
    color: white;
    border: 2px solid #190a34;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus {
    border-color: #4b2e83;
    outline: none;
    background-color: #3e2b7f;
}

.diamondsSection {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
}

.diamondsSection .diamond {
    background-color: #190a34;
    color: white;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
    width: calc(33.33% - 10px);
}

.diamondsSection .diamond h3 {
    font-size: 15px;
}

.diamondsSection .diamond img {
    width: 50%;
}
